# --- Core Spark & Data Engineering ---
pyspark==3.5.1           # Procesamiento distribuido
pyarrow==15.0.2          # Columnar storage (Parquet)

# --- Tracking & MLOps ---
mlflow==2.13.0

# --- Ciencia de datos / ML auxiliar ---
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2      # Métricas y modelos fuera de Spark
optuna==3.5.0            # HPO opcional
joblib==1.4.2            # Serialización utilitaria
matplotlib==3.8.4        # Gráficas rápidas

# --- Serving API ---
fastapi==0.111.0
uvicorn[standard]==0.29.0
pydantic==2.7.1          # Validación de inputs

# --- Dev & Testing ---
pytest==8.2.0
python-dotenv==1.0.1     # Variables de entorno locales
kaggle==1.5.16
